:root {


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.category {
  overflow-x:scroll;
}
 .category::-webkit-scrollbar {display:none;}

@tailwind base;
@tailwind components;
@tailwind utilities;